.contact-header {
    background: url('img/ikone_logo/drage_mapa.jpg') center/cover no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    
}

.hero-content h1 {
    font-size: 2.5rem;
    margin: 0;
}

.contact-container {
    display: flex;
    width: 100%;
    height: 600px; 
}

.contact-map {
    position: relative;
    width: 50%;
    height: 100%;
}
.contact-map .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    pointer-events: none; 
}

.contact-map iframe {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.contact-form-container {
    width: 50%;
    background: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    
}

button {
    background: #000;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: #333;
}

.contact-info {
    font-family: "Playfair Display", serif;
    width: 100%;
    text-align: left;
    color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 1rem;
}   
.png-cont img {
    width: 40px; 
    height: auto;
    margin: 5px;
}

@media (max-width: 900px) {
    .contact-header {
        width: 100%;
     }
   
}